# clang-tidy
---
Checks: "-*,\
clang-diagnostic-*,\
clang-analyzer-*,\
-clang-analyzer-deadcode.DeadStores,\
bugprone-*,\
-bugprone-dynamic-static-initializers,\
-bugprone-easily-swappable-parameters,\
-bugprone-empty-catch,\
-bugprone-forward-declaration-namespace,\
-bugprone-macro-parentheses,\
cppcoreguidelines-*,\
-cppcoreguidelines-avoid-c-arrays,\
-cppcoreguidelines-avoid-capturing-lambda-coroutines,\
-cppcoreguidelines-avoid-do-while,\
-cppcoreguidelines-avoid-reference-coroutine-parameters,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-avoid-goto,\
-cppcoreguidelines-avoid-magic-numbers,\
-cppcoreguidelines-avoid-non-const-global-variables,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-no-malloc,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-pro-bounds-constant-array-index,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic,\
-cppcoreguidelines-pro-type-reinterpret-cast,\
-cppcoreguidelines-pro-type-union-access,\
-cppcoreguidelines-special-member-functions,\
fuchsia-multiple-inheritance,\
fuchsia-virtual-inheritance,\
llvm-namespace-comment,\
misc-*,\
-misc-include-cleaner,\
-misc-use-internal-linkage,\
-misc-unused-alias-decls,\
-misc-unused-parameters,\
-misc-unused-using-decls,\
-misc-throw-by-value-catch-by-reference,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-raw-string-literal,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
performance-*,\
readability-*,\
-readability-function-cognitive-complexity,\
-readability-function-size,\
-readability-qualified-auto,\
-readability-magic-numbers,\
-readability-math-missing-parentheses,\
-readability-named-parameter,\
-readability-else-after-return,\
-readability-identifier-length,\
-readability-implicit-bool-conversion,\
-readability-static-accessed-through-instance,\
-readability-uppercase-literal-suffix"
HeaderFilterRegex: '\.hpp$'
FormatStyle: file
CheckOptions:
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: modernize-loop-convert.NamingStyle
    value: lower_case
  - key: modernize-use-default-member-init.UseAssignment
    value: true
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
...
