RC*
/*
.*
!/.vscode/
!/res/
!/src/
!.clangd
!.clang-format
!.clang-tidy
!.editorconfig
!.gitattributes
!.gitignore
!/build.cmd
!/CMakeLists.txt
!/CMakePresets.json
!/format.cmd
!/readme.md
!/vcpkg.json
!/vcpkg-configuration.json
