#pragma code_page(65001)
#include <version.h>
#include <windows.h>

101 ICON "main.ico"

VS_VERSION_INFO VERSIONINFO
  PRODUCTVERSION PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, 0, 0
  FILEVERSION    PROJECT_VERSION_MAJOR, PROJECT_VERSION_MINOR, PROJECT_VERSION_PATCH, 0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0409FDE9"
    BEGIN
      VALUE "CompanyName",      COMPANY_NAME
      VALUE "LegalCopyright",   COMPANY_NAME
      VALUE "ProductName",      PRODUCT_NAME
      VALUE "ProductVersion",   PROJECT_VERSION
      VALUE "InternalName",     PROJECT_NAME
      VALUE "OriginalFilename", PROJECT_NAME".exe"
      VALUE "FileDescription",  PROJECT_DESCRIPTION
      VALUE "FileVersion",      PROJECT_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0xFDE9  // US English, CP_UTF8 (65001)
  END
END
